*
{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
   }

#header 
{
    background-color: #1f2937;
    padding-top: 20px;
}

#header-container 
{
    margin: 0 250px;
    color: white;

}

#header #head
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    padding-bottom: 120px;
}

#header #logo
{
    justify-content: center;
    font-size: 24px;
    color: #f9faf8;
}

#header #link
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
    gap: 20px;
    
}

#header #body
{
    display: flex;
    flex-direction: row;
    gap: 75px;
    padding-bottom: 170px;
    justify-content: space-between;
}

#header #body #text #heading
{
    font-size: 48px;
    font-weight: 800;
    color: #F9f8fa;
    width: 400px;
    height: 100px;
    line-height: 60px;
}

#header #body #text #para
{
    padding: 20px 0;  
    font-size: 18px;
    color: #e5e7eb;
}

#header #body #img
{
    width: 300px;
    height: 300px;
}

#header #body #img img 
{
    width: 100%;
    height: 100%;

}

#button
{
    width: 150px;
    height: 45px;
    background-color: #3882f6;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    font-weight: 600;
}

a
{
    color: white;
    text-decoration: none;
}

#body-1 
{
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
    background-color: #c0c0c0;
}

#body-1 #heading
{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 50px 0;
}

#body-1 #image
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

#body-1 #image div
{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

#body-1 img
{
    width: 100%;
    height: 100%;
}

#body-1 p 
{
    font-size: 24px;

}

#body-2-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

#body-2 #main
{
    padding: 150px 300px;
}

#body-2 #quote
{
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

#body-2 #author
{
    display: flex;
    justify-content: right;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    line-height: 50px;
}

#body-3-container
{
    display: flex;
    justify-content: center;
    padding: 150px 0;
    background-color: #c0c0c0;

}

#body-3
{
    width: 800px;
    height: 200px;
    background-color: #244a87;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 100px;
    gap: 200px;
}

#body-3 #main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer
{
    background-color: #1f2937;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}